In [1]:
#Excercise 2-1

In [2]:
n=42
print(n)

42

In [3]:
42=n
print(42)

SyntaxError: cannot assign to literal (Temp/ipykernel_174272/3951123071.py, line 1)

In [4]:
x=y=1
print(x)
print(y)

1
1

In [5]:
n=42;
print(n)

42

In [6]:
n=42.
print(n)

42.0

In [7]:
x=5
y=5
z=x*y
print(z)

25

In [8]:
#Excercise 2-2

In [9]:
r=5
pi=22/7
sphere_volume= (4/3)*(pi)*(r**3)
print(sphere_volume)

523.8095238095237

In [10]:
cover=24.95
disc=24.95*0.4
shipping=3
shippingextra=0.75
total_cost=(60*(cover-disc)+shipping+(59*shippingextra)
print(total_cost)

SyntaxError: invalid syntax (Temp/ipykernel_174272/366811991.py, line 6)

In [11]:
#Exercise 8-1

In [12]:
'hello world'.title()

'Hello World'

In [13]:
'hello world'.capitalize()

'Hello world'

In [14]:
'      spacious    '.strip()

'spacious'

In [15]:
'www.example.com'.strip()

'www.example.com'

In [16]:
x='banana'
print(x.replace('banana', 'mango'))

mango

In [17]:
y='let it be, let it be, let it be, let it be'
print(y.replace('let', "don't let"))

don't let it be, don't let it be, don't let it be, don't let it be

In [18]:
#Excercise 8-2

In [19]:
x='banana'
x.count('a')

3

In [20]:
#Excercise 8-3

In [21]:
word='banana'
word[0:5:2]

'bnn'

In [22]:
word='bloom'
word[::-1]

'moolb'

In [23]:
word='noon'
word[::-1]

'noon'

In [24]:
#Exercise 4

In [68]:
def any_lowercase1(s):
    for c in s:
        if c.islower():
            return True
        else:
            return False

any_lowercase1('banAna')

True

In [59]:
def any_lowercase2(s):
    for c in s:
        if 'c' .islower():
            return 'True'
        else:
            return 'False'
        
any_lowercase2('Banana')

'True'

In [73]:
def any_lowercase3(s):
    for c in s:
        flag= 'c'.islower()
    return flag

any_lowercase3('BANANA')

True

In [70]:
def any_lowercase4(s):
    flag = False
    for c in s:
        flag = flag or c.islower()
    return flag

any_lowercase4('banana')

True

In [77]:
def any_lowercase5(s):
    for c in s:
        if not c.islower():
            return False
    return True

any_lowercase5('BANAN')

False

In [ ]:
#Exercise 8-5

In [101]:
# Rotate letter by n
#step 1: make a function to rotates a letter by n places (only a letter)
def rotate_letter(letter, n):
    if letter.isupper():
        start=ord('A') #define the start of the counting and to transform uppercase letter into integer
    elif letter.islower():
        start=ord('a') #define the start of the counting and to transform lowercase letter into integer
    else:
        return letter
    
    c=ord(letter)-start #convert the input letter to number and calculate the rotation for each letter
    i=(c+n)%26+start # input the 'n' value as the rotation value
    return chr(i) #transform back the integer to letter

#step 2: make a function to rotate a word from each letter by n places
def rotate_word(word, n): #define the variable
    res = ''
    for letter in word:
        res += rotate_letter(letter, n)
    return res

rotate_word('cheer', 7)
rotate_word('melon', -10)

'cubed'